.root {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.header {
    display: flex;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.list {
    // flex: 1;
    // overflow: auto;
}